
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f3e2; /* Beige claro, color cálido */
}

.cafeteria-header {
    background-color: #4e3629;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    border-radius: 5px;
}

.card-header {
    background-color: #4e3629;
    color: white;
    padding: 15px;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}

.table-header {
    background-color: #f1d8b5; /* Color crema cálido */
    color: #4e3629; /* Marrón oscuro */
    text-align: center;
    font-weight: bold;
    border: 1px solid #ccc; /* Borde suave */
}

.table-striped tbody tr:nth-child(odd) {
    background-color: #f9f3e2; /* Beige suave */
}

.table-striped tbody tr:nth-child(even) {
    background-color: #fff;
}

/* Estilos para los botones */
.button-primary {
    background-color: #4e3629; /* Marrón oscuro */
    color: white;
    border-radius: 5px;
}

.button-primary:hover {
    background-color: #3c2d22; /* Marrón más oscuro para hover */
}

.button-danger {
    background-color: #d9534f; /* Rojo suave para eliminar */
    color: white;
    border-radius: 5px;
}

.button-danger:hover {
    background-color: #c9302c; /* Rojo más oscuro para hover */
}

/* Estilos del modal */
.dialog-header {
    background-color: #4e3629; /* Color café */
    color: white;
    font-size: 1.5em;
}

/* Campos de texto */
.field {
    margin-bottom: 1em;
}

.field label {
    font-weight: bold;
}